/Projects/ble/FlybirdBLEPeripheral/CC2541DB/FlybirdLaboratory Health/
/Projects/ble/FlybirdBLEPeripheral/CC2541DB/settings
/Projects/ble/FlybirdKeyFob/CC2541DB/CC2541DK-mini Keyfob Slave/
/Projects/ble/FlybirdKeyFob/CC2541DB/settings
/Projects/ble/BloodPressure/*
/Projects/ble/SimpleBLECentral/*
/Projects/ble/SimpleBLEPeripheral/*

*.dep